APP_PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=jungle_gaming
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_WAGER_QUEUE_NAME=wager-transactions
SQS_WAGER_DLQ_NAME=wager-transactions-dlq
SQS_EVENTS_QUEUE_NAME=integration-events
SQS_EVENTS_DLQ_NAME=integration-events-dlq

OUTBOX_PUBLISHER_ENABLED=true
OUTBOX_BATCH_SIZE=10
OUTBOX_LEASE_DURATION_MS=60000
OUTBOX_POLL_INTERVAL_MS=1000
