APP_PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=jungle_gaming
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_WAGER_QUEUE_NAME=wager-transactions
SQS_WAGER_DLQ_NAME=wager-transactions-dlq